<div class="emp-details">
  <div class="container">
    <div class="row">
      <i
        class="fa fa-2x fa-arrow-left pl-3 py-4"
        style="color: black; cursor: pointer"
        (click)="back()"
      ></i>
      <div class="col heading" (click)="dataCheck()">Add New User</div>
      <div class="col d-flex justify-content-end align-items-start mt-4">
        <button
          id="saveuser"
          name="saveuser"
          (click)="saveUser(); check()"
          class="btn btn-dark"
        >
          <i class="fa fa-save"></i> &nbsp; SAVE
        </button>
      </div>
    </div>
  </div>

  <div [formGroup]="userForm" class="emp-form-group">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 form-title"><b>Information</b></div>
        <div class="col-xl-8 form-content">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <input
                  id="firstName"
                  name="firstName"
                  (keypress)="allowOnlyChar($event)"
                  matInput
                  placeholder="First Name"
                  formControlName="firstName"
                  required
                />
                <mat-error> First Name Is Required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  id="lastName"
                  name="lastName"
                  (keypress)="allowOnlyChar($event)"
                  matInput
                  placeholder="Last Name"
                  formControlName="lastName"
                  required
                />
                <mat-error> Last Name Is Required.</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <input
                  id="email"
                  name="email"
                  (keyup)="setUpEmail()"
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  maxlength="50"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  required
                />
                <mat-error> Please Enter The Valid Email.</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  id="phNo"
                  name="phNo"
                  matInput
                  placeholder="Phone Number"
                  (keypress)="($event.charCode >= 8 && $event.charCode < 58)"
                  formControlName="phNo"
                  type="tel"
                  maxlength="15"
                  minlength="4"
                />
                <mat-error> Please Enter a valid Phone Number </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-8 form-content">
          <div class="row">
            <!-- <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email1"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  required
                />
                <mat-error> Please Enter The Valid Email.</mat-error>
              </mat-form-field>
            </div> -->
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <input
                  id="password"
                  name="password"
                  matInput
                  placeholder="Password"
                  type="password"
                  formControlName="password"
                  minlength="8"
                  required
                />
                <mat-hint>Minimum 8 characters</mat-hint>
                <mat-error> Password Is Required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  id="confirmpassword"
                  name="confirmpassword"
                  matInput
                  placeholder="Confirm Password"
                  type="password"
                  minlength="8"
                  formControlName="confirmpassword"
                  required
                />
                <mat-hint>Re-Enter Password</mat-hint>
                <mat-error> Confirm Password Is Required.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xl-4 form-title"><b>User Type Information </b></div>
        <div class="col-xl-8 form-content">
          <div class="row">
            <div class="col">
              <!-- Client Dropdown -->
              <div class="row" *ngIf="superInfo && !rosInfo">
                <div class="col-md-6">
                  <mat-form-field appearance="legacy">
                    <mat-select
                      id="client"
                      name="client"
                      (selectionChange)="changeClient(clientDropdown.value)"
                      aria-required="emptype"
                      formControlName="client"
                      placeholder="Client"
                      #clientDropdown
                      required
                    >
                      <mat-option *ngFor="let p of clients" [value]="p.id">
                        {{ p.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field
                appearance="legacy"
                *ngIf="rosInfo"
                style="width: 220px"
              >
                <mat-select
                  id="userTyp"
                  name="userTyp"
                  placeholder="User Type"
                  formControlName="userTyp"
                  aria-required="emptype"
                  (selectionChange)="setUserType($event.value)"
                >
                  <mat-option
                    *ngFor="let uType of rosuserTypeList"
                    [value]="uType.value"
                  >
                    {{ uType.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error> User Type Is Required.</mat-error>
              </mat-form-field>

              <!-- <mat-form-field class="ml-5" style="width: 3in">
                <mat-label
                  ><i class="fas fa-search"></i> Search by Restaurant Name
                </mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="selectedUser"
                  (input)="search()"
                  (click)="search()"
                  [ngModelOptions]="{ standalone: true }"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    class=""
                    style="font-size: small; height: 60px"
                    *ngFor="let r of filterdOptions; let s = index"
                    [value]="r.name"
                    (click)="addRestaurants(s)"
                  >
                    {{ r.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> -->
              <!-- <div *ngIf="isRestaurantAdded" class="error">
                Field Is Required
              </div> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="row" *ngIf="rosInfo && showClients">
                    <div class="col">
                      <mat-form-field appearance="legacy" >
                        <mat-select
                          id="client"
                          name="client"
                          (selectionChange)="changeClient(clientDropdown.value)"
                          aria-required="emptype"
                          formControlName="client"
                          placeholder="Client"
                          #clientDropdown
                          required
                        >
                          <mat-option *ngFor="let p of clients" [value]="p.id">
                            {{ p.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-form-field
                    class=""
                    style="width: 3in"
                    *ngIf="rosInfo && showClients"
                  >
                    <mat-label>Restaurants</mat-label>
                    <mat-select
                      [formControl]="resturants"
                      multiple
                      id="resturants"
                      name="resturants"
                    >
                      <mat-select-trigger>
                        {{ resturants.value ? resturants.value[0] : "" }}
                        <span
                          *ngIf="resturants.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ resturants.value.length - 1 }}
                          {{
                            resturants.value?.length === 2 ? "other" : "others"
                          }})
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let r of restaurantData"
                        [value]="r.name"
                        (click)="addSelectResturant(r.id, r.name)"
                        >{{ r.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field
                    appearance="legacy"
                    *ngIf="!rosInfo"
                    style="width: 220px"
                  >
                    <mat-select
                      id="userTyp"
                      name="userTyp"
                      placeholder="User Type"
                      formControlName="userTyp"
                      aria-required="emptype"
                    >
                      <mat-option
                        *ngFor="let uType of userTypeList"
                        [value]="uType.value"
                      >
                        {{ uType.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error> User Type Is Required.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="" style="width: 3in" *ngIf="!rosInfo">
                    <mat-label>Restaurants</mat-label>
                    <mat-select
                      [formControl]="resturants"
                      multiple
                      id="resturants"
                      name="resturants"
                    >
                      <mat-select-trigger>
                        {{ resturants.value ? resturants.value[0] : "" }}
                        <span
                          *ngIf="resturants.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ resturants.value.length - 1 }}
                          {{
                            resturants.value?.length === 2 ? "other" : "others"
                          }})
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let r of restaurantData"
                        [value]="r.name"
                        (click)="addSelectResturant(r.id, r.name)"
                        >{{ r.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="isRestaurantAdded" class="error">
                Restaurant Is Required
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col"
              *ngFor="let r of selectedRestaurants; let i = index"
            >
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  text-nowrap
                  flex-wrap
                "
                id="delRestaurant"
                name="delRestaurant"
                style="width: 250px"
              >
                {{ r.name }}
                <i
                  class="fa fa-trash p-4"
                  (click)="delRestaurant(i, r.name)"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr *ngIf="!rosInfo" />

      <div class="row" *ngIf="!rosInfo">
        <div class="col-xl-4 form-title"><b>Product & Subscription</b></div>
        <div class="col-xl-4">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <mat-select
                  id="product"
                  name="product"
                  placeholder="Product"
                  formControlName="product"
                  aria-required="emptype"
                >
                  <mat-option
                    *ngFor="let p of productList"
                    [value]="p.productName"
                  >
                    {{ p.productName }}
                  </mat-option>
                </mat-select>
                <mat-error>Product Is Required.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy">
                <mat-select
                  id="subscription"
                  name="subscription"
                  placeholder="Subscription"
                  formControlName="subscription"
                  aria-required="emptype"
                >
                  <mat-option
                    *ngFor="let s of subList"
                    [value]="s.subscription.subscriptionCode"
                  >
                    {{ s.subscription.name }}
                  </mat-option>
                </mat-select>
                <mat-error> Subscription Is Required.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #secondDialog>
  <h3 matDialogTitle>Error !</h3>
  <p matDialogContent>{{ dialogMessage }}</p>
  <mat-dialog-actions align="end" style="padding-left: 9rem">
    <button
      id="Dismiss"
      name="Dismiss"
      (click)="closeDialog()"
      mat-raised-button
      matDialogClose
    >
      Dismiss
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #successDialog>
  <h2 matDialogTitle>Save Successful !!!!</h2>
  <p matDialogContent>{{ dialogMessage }}</p>
  <mat-dialog-actions align="end" style="padding-left: 9rem">
    <button
      id="navigateToViewUsers"
      name="navigateToViewUsers"
      (click)="navigateToDashBoard()"
      mat-raised-button
      matDialogClose
    >
      Navigate To View Users
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #backDialog>
  <h3 class="logo" matDialogTitle>Do you want to Exit without Saving??</h3>
  <p matDialogContent></p>
  <mat-dialog-actions align="end" style="padding-left: 9rem">
    <button
      (click)="navigateToDashBoard()"
      mat-raised-button
      matDialogClose
      id="navigateToDashBoard"
      name="navigateToDashBoard"
    >
      Yes
    </button>
    &nbsp;
    <button
      (click)="closeDialog()"
      id="closeDialog"
      name="closeDialog"
      mat-raised-button
      matDialogClose
    >
      No
    </button>
  </mat-dialog-actions>
</ng-template>
